//Buttons
.my-btn {
    box-shadow: $shadow;
    font-size: 14px;
    font-weight: $fw-r;
    letter-spacing: 0.5px;
    border-radius: $radius-lg !important;
    padding: 10px 40px;
    text-align: center;


    &-primary {
        background-color: $blue-600;
        color: $white;

        &:hover {
            background-color: $blue-400;
            color: $white;
            transition: all 0.5s ease-out;
        }
    }

    &-light {
        background-color: $blue-400;
        color: $white;

        &:hover {
            background-color: $blue-600;
            color: $white;
            transition: all 0.5s ease-out;
        }
    }

    &-secondary {
        background-color: $white;
        color: $black;
        // padding: 10px 30px;

        &:hover {
            background-color: $black;
            color: $white;
            transition: all 0.5s ease-out;
        }
    }

    &-outline {
        background-color: transparent;
        border: 1px solid $blue-400;
        color: $blue-400;

        &:hover {
            background-color: $blue-400;
            color: $white;
            transition: all 0.5s ease-out;

        }
    }

    &-danger {
        background-color: rgb(248, 47, 47);
        color: $white;

        &:hover {
            background-color: rgb(226, 47, 47);
            transition: all 0.5s ease-out;
            color: $white;
        }

        &:focus {
            border-color: transparent !important;
        }

    }

    &-small {
        padding: 10px !important;
    }
}


// Input
.input-delete {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #3490dc;

    &:hover {
        color: #1d68a7;
        text-decoration: underline;
    }
}



input {
    border-radius: $radius !important;

    &[type=submit] {
        border-radius: 0 !important;
    }

    &:focus {
        border-color: $blue-400 !important;
        box-shadow: 0 0 0 0.2rem rgba(48, 172, 255, 0.25) !important;
    }

}

::placeholder {
    color: $gray-4 !important;
}


a:hover {
    text-decoration: none;
}

//Table head
th {
    font-weight: 400 !important;
}
