@import "variables";



.red {
    background-color: coral;
}

.blue {
    background-color: lightblue;
}

.purple-bg {
    background-color: $purple-regular;
}

.bg-gray-6 {
    background-color: $gray-6;
}

.rounded {
    border-radius: $radius !important;

    &-top {
        border-top-left-radius: $radius !important;
        border-top-right-radius: $radius !important;
    }
}

.vh-80 {
    min-height: 80vh !important;
}

.shadow {
    box-shadow: $shadow;
}

.spacer-bottom-lg {
    margin-bottom: $spacer-lg;
}

.image-fill {
    object-fit: cover;
}


//Fonts 
.text-sm {
    font-size: 12px;
}

.text-white {
    color: $white;
}

.text-purple {
    color: $purple-regular;
}

.text-gray-1 {
    color: $gray-1;
}

.text-gray-2 {
    color: $gray-2;
}

.text-gray-3 {
    color: $gray-3;
}





//Buttons
.my-btn {
    box-shadow: $shadow;
    font-size: 14px;
    font-weight: $fw-r;
    letter-spacing: 0.5px;
    border-radius: $radius;
    padding: 10px 40px;

    &-primary {
        background-color: $purple-regular;
        color: $white;

        &:hover {
            background-color: $purple-light;
            color: $white;
            transition: all 0.5s ease-out;
        }
    }

    &-secondary {
        background-color: $white;
        color: $black;
        padding: 10px 30px;

        &:hover {
            background-color: $black;
            color: $white;
            transition: all 0.5s ease-out;
        }
    }

    &-outline {
        background-color: transparent;
        color: $black;

        &:hover {
            background-color: $black;
            color: $white;
            transition: all 0.5s ease-out;

        }
    }
}

.input-delete {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    color: #3490dc;

    &:hover {
        color: #1d68a7;
        text-decoration: underline;
    }
}


// Input
input {
    border-radius: $radius !important;


    &:focus {
        border-color: $purple-light !important;
        box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25) !important;
    }
}

::placeholder {
    color: $gray-4 !important;
}
