@import "variables";



.red {
    background-color: coral;
}

.blue {
    background-color: lightblue;
}



//
// Colours
//

//Primaries
.bg-primary-50 {
    background-color: $blue-50;
}

.bg-primary-100 {
    background-color: $blue-100;
}

.bg-primary-200 {
    background-color: $blue-200;
}

.bg-primary-300 {
    background-color: $blue-300;
}

.bg-primary-400 {
    background-color: $blue-400;
}

.bg-primary-500 {
    background-color: $blue-500;
}

.bg-primary-600 {
    background-color: $blue-600;
}

.bg-primary-700 {
    background-color: $blue-700;
}

.bg-primary-800 {
    background-color: $blue-800;
}

.bg-primary-900 {
    background-color: $blue-900;
}

//Accents
.bg-accent-100 {
    background-color: $accent-100;
}

.bg-accent-200 {
    background-color: $accent-200;
}

.bg-accent-300 {
    background-color: $accent-300;
}

.bg-accent-400 {
    background-color: $accent-400;
}



.purple-bg {
    background-color: $purple-regular;
}

.purple-light-bg {
    background-color: $purple-light;
}

.bg-gray-6 {
    background-color: $gray-6;
}

.bg-gray-7 {
    background-color: $gray-7;
}






.rounded {
    border-radius: $radius !important;

    &-top {
        border-top-left-radius: $radius !important;
        border-top-right-radius: $radius !important;
    }

    //rounded-lg
    &-lg {
        border-radius: $radius-lg !important;
    }
}


// 
// Spacing  
//

.vh-80 {
    min-height: 80vh !important;
}


.spacer-top-lg {
    margin-top: $spacer-lg;
}

.spacer-bottom-lg {
    margin-bottom: $spacer-lg;
}






.shadow {
    box-shadow: $shadow;
}

.image-fill {
    object-fit: cover;
}


// 
// Fonts  
// 

.text-primary-50 {
    color: $blue-50;
}

.text-primary-100 {
    color: $blue-100;
}

.text-primary-200 {
    color: $blue-200;
}

.text-primary-300 {
    color: $blue-300;
}

.text-primary-400 {
    color: $blue-400;
}

.text-primary-500 {
    color: $blue-500;
}

.text-primary-600 {
    color: $blue-600;
}

.text-primary-700 {
    color: $blue-700;
}

.text-primary-800 {
    color: $blue-800;
}

.text-primary-900 {
    color: $blue-900;
}

.text-accent-100 {
    color: $accent-100;
}

.text-accent-200 {
    color: $accent-200;
}

.text-accent-300 {
    color: $accent-300;
}

.text-accent-400 {
    color: $accent-400;
}



.text-white {
    color: $white;
}

.text-purple {
    color: $purple-regular;
}

.text-purple-light {
    color: $purple-light;
}

.text-gray-1 {
    color: $gray-1;
}

.text-gray-2 {
    color: $gray-2;
}

.text-gray-3 {
    color: $gray-3;
}

.text-gray-4 {
    color: $gray-4;
}
