// Body
$body-bg: #f8fafc;

// Typography
$font-family-headings: 'Poppins',
sans-serif;
$font-family-body: 'Open Sans',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$fw-xl: 200;
$fw-l: 300;
$fw-r: 400;
$fw-md: 500;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

$black: #0C120C;
$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
$gray-5: #E9ECEF;
$gray-6: #F2F2F2;
$gray-7: #F8F9FA;

$purple-dark: #000A3D;
$purple-regular: #6C63FF;
$purple-light: #7F96FF;

// Blues 
$blue-50: #E3F2FD;
$blue-100: #BBDEFB;
$blue-200: #90CAF9;
$blue-300: #64B5F6;
$blue-400: #64B5F6;
$blue-500: #2196F3;
$blue-600: #1E88E5;
$blue-700: #1976D2;
$blue-800: #1565C0;
$blue-900: #0D47A1;

// Accent
$accent-100: #82B1FF;
$accent-200: #448AFF;
$accent-300: #2979FF;
$accent-400: #2962FF;


$shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
$shadow-lg: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$radius: 10px;
$radius-lg: 20px;


//Spacing
$spacer-sm: 6rem;
$spacer-md: 12rem;
$spacer-lg: 18rem;
