// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@300;400;500&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import partial scss files
@import "fonts";

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}

//Buttons
.my-btn {
    box-shadow: $shadow;
    font-size: 14px;
    font-weight: $fw-r;
    letter-spacing: 0.5px;
    border-radius: $radius;
    padding: 10px 40px;

    &-primary {
        background-color: $purple-regular;
        color: $white;

        &:hover {
            background-color: $purple-light;
            color: $white;
        }
    }

    &-outline {
        background-color: transparent;
        color: $black;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
}

input {
    border-radius: $radius !important;

    &:focus {
        border-color: $purple-light !important;
        box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25) !important;
    }
}

.login-left-container {
    background-color: $purple-regular;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    color: $white;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
}

.rounded {
    border-radius: $radius !important;
}
.vh-80 {
    min-height: 80vh !important;
}

.hero {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(233, 236, 239, 0) 0%,
        #f8f9fa 100%
    );

    &_img {
        position: absolute;
        right: -4%;
        top: 10%;
        display: block;
        height: 80%;
        width: 90%;
        background-position: center right !important;
        background-repeat: no-repeat !important;
    }
    &_left {
        min-height: 60vh;
        display: flex;
        align-items: center;

        .line {
            background-color: #bfbfbf;
            width: 100px;
            height: 2px;
        }
    }
}
