// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Rubik:wght@300;400;500&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import partial scss files
@import "fonts";
@import "utilities";
@import "config";
@import "mobile";


body {
    background-color: $white;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover .card {
    color: initial;
}

.flash {
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
    top: 2%;
}

.card {
    border: none !important;
    box-shadow: 0 0 0 1pt $gray-5 !important;
}


// Navbar 
.dropdown-menu {
    border-radius: $radius !important;
    border: 1px solid $gray-4 !important;
}

// Sidebar
.sidebar {
    margin-top: 146px;
}


// Login page
.login-left-container {
    background-color: $blue-700;
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    color: $white;
    border-top-left-radius: $radius-lg;
    border-bottom-left-radius: $radius-lg;
}




// Landing page
.hero {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(180deg,
            rgba(233, 236, 239, 0) 0%,
            #f8f9fa 100%);

    &_img {
        position: absolute;
        right: -4%;
        top: 10%;
        display: block;
        height: 80%;
        width: 90%;
        background-position: center right !important;
        background-repeat: no-repeat !important;
    }

    &_left {
        min-height: 60vh;
        display: flex;
        align-items: center;

        .line {
            background-color: #bfbfbf;
            width: 100px;
            height: 2px;
        }
    }
}


//Admin home
.list-group {
    .list-item {
        a {
            padding: 10px 0;
            padding-left: 22px;
            text-align: left;
            display: flex;
            align-items: center;
            background-color: transparent;
            box-shadow: none;
            font-size: 14px;

            span {
                font-size: 12px;
                color: $gray-3;
            }
        }

        &.active {
            a {
                background-color: $gray-6;
                font-weight: bolder;

                span {
                    color: $blue-500;
                }
            }
        }

        &:hover {
            a {
                background-color: $gray-6;
                transition: all 0.5s ease-out;

                span {
                    color: $black;
                    transition: all 0.5s ease-out;

                }
            }
        }
    }
}


//Book show
.card {
    .header {
        background-color: $blue-600;
        color: $white;
        padding: 20px 0 20px 20px;
        border-top-left-radius: $radius;
        border-bottom-right-radius: $radius;
        width: 80%;
    }
}



// Profile page
.profile-header {
    height: 200px;

    @include media-breakpoint-up(md) {
        height: 300px;
    }
}

.profile-img {
    width: 160px;
    position: absolute;
    height: 160px;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 100px;

    @include media-breakpoint-up(md) {
        width: 120px;
        height: 120px;
        left: 14%;
        top: 240px;
    }

    @include media-breakpoint-up(lg) {
        width: 200px;
        position: absolute;
        height: 200px;
        top: 150px;
        left: 5%;
        margin-right: 100px;
        transform: none;
    }
}

// .profile-img {
//     width: 200px;
//     position: absolute;
//     height: 200px;
//     top: 170px;
//     left: 5%;
//     margin-right: 100px;
// }





.footer {
    background-color: #474657;
    color: $white;
    margin-top: auto;

    &-outer {
        background-color: #2F2E41;
    }
}
